@use "../../variables-mixins" as *;

.Body {
    width: 100%;
    height: calc(100% - 70px);

    @include flex;
}

.Body_container {
    width: 90%;
    height: 90%;
}

// BodyHeader Compoenents style =========== START
.Body_header {
    width: 100%;
    height: 45px;

    @include flex(row, space-between, flex-start);
}

.input-wrapper {
    position: relative;
    width: 320px;
    height: 100%;

    box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;

    .search_icon {
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translate(-50%, -50%);
    }

    input {
        width: 100%;
        height: 100%;

        border: none;
        outline: none;

        background-color: transparent;
        padding-left: 15%;

        &::placeholder {
            color: var(--placeholder-color);
        }
    }
}

.dropdown_container {
    position: relative;
    width: 200px;
    height: 100%;

    border: none;
    outline: none;

    box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;

    .selected {
        width: 100%;
        height: 100%;

        border: none;
        outline: none;
        background-color: transparent;
        padding-inline: 10px;

        cursor: pointer;

        @include flex(row, space-between, center);
    }

    .options {
        position: absolute;
        width: 100%;
        height: 180px;
        top: calc(100% + 10px);

        box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 5px;

        ul {
            width: inherit;
            height: inherit;

            list-style-type: none;
            @include flex(column, space-evenly, flex-start);

            li {
                width: 100%;
                flex: 1;

                cursor: pointer;

                @include flex(row, flex-start, center);

                button {
                    margin-inline: 10px;

                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: inherit;

                    cursor: pointer;
                }

                &:hover {
                    background-color: rgb(190, 190, 190, 0.1);
                    opacity: 0.9;
                }
            }
        }
    }
}

// BodyHeader Compoenents style =========== END
