@use "./variables-mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.App {
    width: 100%;
    min-height: 100vh;
    background-color: $color-light-bg;
    @include font;
}

/* Form elements don't always inherit font-family, so we should set it explicitly */
input,
button,
textarea,
select {
    font: inherit;
}
